<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
    <main class="detalleprod-main">
        <nav class="detalleprod-nav">
            <section> <!-- árbol de navegación-->
                <h2 class="prod-h2">PRODUCTOS</h2>
                <a class="navegacion" href="#" >inicio</a>
                <a class="navegacion" href="#" >>Productos</a>
                <a class="navegacion" href="#" >>Cat Chow Adultos 3Kg</a>   
            </section>
        
        <h2>Cat Chow Adultos 3Kg</h2>
        
        <section class="detalleprod-sect" >
            <div class="detalle-prod-divprin"> 
            <a class="pescado-a" href=""> <img class="pescado-prin" src="/images/productDetail/001 cat-chow-gato-adulto-pescado-3kg_600.jpeg" alt="Bolsa de alimento"></a> 
            </div>
            <div class="detalle-prod-div-secun">
                <a class="det-prod-pescado-det" href="#"> <img src="/images/productDetail/002 cat-chow-gato-adulto-pescado-3kg_600.jpg" alt="detalles"></a>
                <a class="det-prod-pescado-det" href="#"> <img src="/images/productDetail/003 cat-chow-gato-adulto-pescado-3kg_600.jpg"></a>
            </div> <!-- Principal-->
    
        </section>  
    
        <section class="sect-precio"> <!--Precio / Añadir al carrito / img de MercadoPago / detalles / mas detalles-->
            <div class="div-precio">
                <h3>$1540</h3>
                    <a href="#">
                        <input class="botton_carrito" type="submit" value="Agregar al carrito">
                    </a>
            </div> 
        </section> 
        </nav>
    </main>
    
    <%- include('./partials/footer') %>

</body>
</html>