<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body class="home-body">

    <%- include('./partials/header') %>

    <main class="register_form"> 
        <nav>
            <h2>Registrarse</h2>
            <form  action="" method="get">
                <ul>
                    <li>
                        <input type="text" id="register_user" name="user_name" placeholder="Nombre completo">
                        <input type="date" id="register_user" name="user_date">
                        <input type="email" id="register_user" name="user_mail" placeholder="E-mail">
                        <input type="password" id="register_user" name="user_contrasena" placeholder="Contraseña">
                        <input type="password" id="register_user" name="user_contrasena" placeholder="Confirmar contraseña">
                        <p><a href="#"> Términos y condiciones</a></p>
                        <input class="bottons" type="submit" value="Registrar">
                        <p><a href="login">¿Ya tengo cuenta?</p></a>
                    </li>
                </ul>
            </form>
        </nav>
    </main>  

    <%- include('./partials/footer') %>

</body>
</html>