.home__about__nosotros h4 {
    background: var(--nieve); 
    font-size: 0.6rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    height: 10%;
}

.home__about__nosotros article div img {
    width: 60%;
    height: 15vw;
    border: 2px solid var(--nieve);
}

.home__about__nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
    height: 100%;
}

.home__about__nosotros article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center; 
    margin: 0 auto;  
    border-left: 1px dotted black;
}

/* .home__about__nosotros article div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));      
}
 */
 .home__about__nosotros-section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 75%;
 }

 .home__about__nosotros__div1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--colores4);
    color: #fff; ;
 }

 .home__about__nosotros__div2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));
}

.home__about__nosotros__div3 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));
    align-items: center;
    justify-content: center;
}

.home__about__nosotros__div3 p {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home__about__nosotros-section2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 75%;
}

.home__about__nosotros-section2 .home__about__nosotros__div3 img {
    width: 30%;
    padding: 0;
    margin: 0;
}


.home__about__nosotros p {
    font-size: 0.4rem;
    width: 75%;
    color:white;  
}

.home__about__nosotros:hover p {
    background-color: rgba(0, 0, 0, 0.1); 
}

.home__about__nosotros a {
    text-decoration: underline; 
    list-style: none;
    color: black;
    background: var(--azul);
}


/* .home__about__nosotros:hover .home__about__nosotros__div1 img, .home__about__nosotros:hover .home__about__nosotros__div3 img {
    transform: rotate(360deg) translateX(150%);
    transition: all 5s;
    opacity: 0.2;
}

.home__about__nosotros:hover .home__about__nosotros__div1 p, .home__about__nosotros:hover .home__about__nosotros__div3 p{
    transform: rotate(360deg) translateX(-62%);
    transition: all 5s;
}

.home__about__nosotros:hover .home__about__nosotros__div2 img{
    transform: rotate(360deg) translateX(-150%);
    transition: all 5s;
    opacity: 0.2;
}

.home__about__nosotros:hover .home__about__nosotros__div2 p{
    transform: rotate(360deg) translateX(62%);
    transition: all 5s;
} */
.home__about__nos__h2 {
    background: var(--colores4);
    text-align: center;
    margin-top: 1vw;
}







@media (min-width: 600px) and (max-width: 1023px){

    .home__about__nosotros h2 {
        font-size: 1.2rem;
    }   

    .home__about__nosotros h4 {
        font-size: 0.8rem;
    }

    .home__about__nosotros article div img {
        border: 3px solid var(--nieve);
        
    }
    .home__about__nosotros p {
        font-size: 0.7rem;
    }   
}


@media (min-width: 1024px) {
    .home__about__nosotros h2 {
        font-size: 1.6rem;
    }

    .home__about__nosotros h4 {
        font-size: 1rem;
    }

    .home__about__nosotros p {
        font-size: 1rem;
    }
}