/* 
ANIMACIONES
*/
@keyframes rotacion{
    0% {
        -webkit-transform: rotate3d(0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {-webkit-transform: rotate3d(0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
/* 
HEADER
*/
.home-body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}

.home-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: #46b593;  
    font-size: 12px;
}

.home-header a {
    width: 25%;
    height: 50%;
    font-size: 12px;
    text-decoration: none;
    align-items: center;
    padding: 3px auto;
    margin: 3px auto;
    color: white;
    text-align: center;
    justify-content: center;
}

.home-nav-login {
    display: flex;
    flex-direction: row; 
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;  
    color: white;
    align-items: center;    
    justify-content: space-around;
}

.logo {
    margin: 0 auto;
    padding: 0 auto;    
    width: 60px; 
    height: 60px;  
    border-radius: 50%; 
    animation: rotacion 5s normal linear infinite;
}

.logo:hover {
    background-color: black;
    border: none;
    border-radius: 50%;
    animation: rotacion 5s normal linear infinite;
}

.home-nav-login div ul {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-nav-login div ul li:hover {
    transition: all 1s;
    background-color: var(--amarillo);
}

.home-div-header  {
    display: flex;
    width: 100%;    
    color:white;
}

.home-nav-login div ul li {
    text-decoration: none;
    list-style: none;
    width: 30%;    
    justify-content: space-around;
}

img {
    width: 100vw;  
}  

.nav-hambur {
    display: flex;
    flex-direction: row; 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75px;
    align-items:center;
    justify-content: space-around;    
}

/* MEDIA QUERIES */

/*  @media (min-width: 0px) and (max-width: 359px)  {
    .home-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (min-width: 360px) and (max-width: 480px)  {
    .home-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center; 
    }
}

@media (min-width: 481px) and (max-width: 768px)  {
    .nosotros div {
        padding: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 20px;
        justify-content: center;

    }
  }   */