.login-main {
    width: 100%;
    text-align: center;
    align-items: center;  
}

.login-main h2 {
    margin: 3px 0px 10px;
    height: 7vw;
    font-size: 4vw;
    font-weight: 500;
    background: var(--colores4);
    border-bottom:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form {
    margin: 0 auto;
    width: 75%;   
    height: 100%;
}

.login-form ul {
    list-style: none;
}

.login_user {
    display: flex;
    width: 100%;
    padding: 10%;
    margin: 12% auto;
    font-size: 3vw;
    background-color: gainsboro;
    border-radius: 40px;
    border: gainsboro;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_bottons {
    position: relative;
    width: 75%;
    height: 75px;
    border: none;
    margin:3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #46b593;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-width: 4px;
    border-style: solid;
    border-color: var(--azul) var(--amarillo) ; 
    outline: 4px solid var(--colores4);   
}

#boton {
    text-decoration: none;
}

.login-olvi {
    color: none;
    margin: 15% auto;
    padding: 15% auto;
    text-decoration: none;
}

@media (min-width: 640px) and (max-width: 1023px) {

    .login-main h2 {
        font-size: 3vw;
    }

    .login-form div {
        display: flex;
    }

    .login_user {
        width: 45%;
        font-size: 2vw;
        margin: 10% auto;
        padding: 5%;
    }
}

@media (min-width: 1024px) and (max-width: 2561px) {

    .login-main h2 {
        font-size: 2vw;
        height: 4vw;
    }

    .login-form div {
        display: flex;
    }

    .login_user {
        width: 40%;
        font-size: 2vw;
        margin: 5% auto;
        padding: 4%;
    }
}
