.login-main {
    width: 100%;
    text-align: center;
    align-items: center;  
}

.login-main h2 {
    margin: 3px 0px 10px;
    height: 7vw;
    font-size: 4vw;
    font-weight: 500;
    background: var(--colores4);
    border-bottom:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form {
    margin: 0 auto;
    width: 75%;   
    height: 100%;
}

.login-form ul {
    list-style: none;
}

.login_user {
    display: flex;
    width: 100%;
    padding: 5%;
    margin: 12% auto;
    font-size: 2vw;
    background-color: gainsboro;
    border-radius: 40px;
    border: gainsboro;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_user:hover {
    background: 
    linear-gradient(var(--nieve), var(--nieve)) padding-box,
    linear-gradient(to right, var(--amarillo), var(--azul), var(--marron)) border-box;
}

.login_bottons {
    position: relative;
    width: 75%;
    height: 75px;
    border: none;
    margin:3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #46b593;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    background: 
    linear-gradient(var(--verde), var(--verde)) padding-box,
    linear-gradient(to right, var(--amarillo), var(--azul), var(--marron)) border-box;
    border-radius: 50em;
    border: 4px solid transparent;  
}

.login_bottons:hover{
    background: 
    linear-gradient(var(--azul), var(--verde), var(--azul)) padding-box,
    linear-gradient(to right, var(--marron), var(--amarillo), var(--azul)) border-box;
}

#boton {
    text-decoration: none;
}

.login-olvi {
    font-size: 3vw;
    color: none;
    text-decoration: none;
    border-radius: 40px;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 640px) and (max-width: 1023px) {

    .login-main h2 {
        font-size: 3vw;
    }

    .login_user {
        font-size: 2vw;
        margin: 10% auto;
        padding: 5%;
    }

    .login-olvi {
        font-size: 2vw;
    }
}

@media (min-width: 1024px) and (max-width: 2561px) {
    .login-main nav {
        margin-bottom: 4vw;
    }
    .login-main h2 {
        font-size: 2vw;
        height: 4vw;
    }

    .login_user {
        font-size: 1vw;
        margin: 5% auto;
        padding: 4%;
        width: 45vw;
        height: 5vw;
    }

    .login-olvi {
        font-size: 1.2vw;
        margin: 10vw;
    }

    .login-form div {
        margin: 2vw auto;
    }

    .login_bottons {
        width: 50vw;
    }

}
