.login-main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    text-align: center;
    margin: 10% auto;
    justify-content: center;
}

.login-main ul {
    list-style: none;
    padding: 12px auto;
    margin: 12% auto;    
}

.login-main ul li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

#login-usuario, #login-clave {
    margin: 5% auto;
    text-align: center;
    padding: 12% auto;
    width: 75vw;
    height: 12vw;
    background-color: var(--gris);
    color: black;
    border-radius: 40px;
}

#login-ingresar button {
    margin: 10px auto;
    padding: 15px auto;
    width: 50%;    
    font-size: 20px;
    border-radius: 40px;
    background-color: var(--verde);
    text-align: center;
}