.home__main {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.home__main  h3 {
    font-size: 2rem;
}

.home__main__productos, .home__main__servicios {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.home__main__productos article, .home__main__servicios article {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.home__main__productos article div, .home__main__servicios article div {
    width: 30vw;
    height: 30vw;
    margin: 1vw auto;
    justify-content: center;
    align-items: center;
}

.home__main__productos article div a img, .home__main__servicios article div a img {
    position: relative;
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1vw solid var(--amarillo);
    border-radius: 50%;
    transition: transform 1s ;
    z-index: 1;
}
.home__main__productos article div a img:hover, .home__main__servicios article div a img:hover {
    position: relative;
    transform: scale(1.05);
    opacity: 0.7;
    z-index: 3;
}

.home__main__servicios article div a img {
    border: 1vw solid var(--azul);
    border-radius: 50%;
}

.home__main__prod__h2, .home__main__serv__h2, .home__main__nos__h2 {
    margin: 0 auto;
    padding: 0 auto;
    font-family: opificio-bold-rounded;
    display: flex;
    width: 100%;
    height: 4vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--amarillo);
}

.home__main__serv__h2 {
    background-color: var(--azul);
}

.home__main__nos__h2 {
    background-color: var(--verde);
}

.home__main__prod__h2 h2, .home__main__serv__h2 h2, .home__main__nos__h2 h2 {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    
}

.home__main__productos h3, .home__main__servicios h3 {
    font-family: opificio-rounded;
    width: 50vw;
    color: black;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    font-size: 0.6rem;   
    border-style:outset;
    border-width: 100%; 
    background: var(--nieve);
    border: 1px solid black;
    border-radius: 1vw;
    margin: 0;
    padding: 0;
}

.home__main__servicios .home__main__cortepelo, .home__main__servicios .home__main__ba単o {
    width: 45vw;
    height: 0 auto;
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

.home__main__servicios .home__main__cortepelo h3, .home__main__servicios .home__main__ba単o h3 {
    width: 35vw;
    height: 3vh;
    font-size: 0.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home__main__nosotros h4 {
    background: var(--nieve); 
    font-size: 0.6rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
}

.home__main__nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; 
}

.home__main__nosotros article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;   
}

.home__main__nosotros article div {
    position: relative;
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));      
}

.home__main__nosotros article div:hover img{
    transform:scale(97%);
    transition: 1.5s ease-in-out;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));  
    opacity: 0.9;
} 

.home__main__nosotros article div img {
    width: 25vw;
    height: 25vw;   
    border: 2px solid var(--nieve);
    border-radius: 100vh;
}

.home__main__nosotros article div img:hover {
    transform:scale(95%);
    transition: 2s ease-in-out;
    border-radius: 1vh;
}

.home__main__nosotros p {
    font-size: 0.8rem;
    display: flex;
    width: 50%;
    color:white;
}

.home__main__nosotros p:hover {
    transition: ease-in 1s;
    border-radius: 100vh;
    background: var(--amarillo);  
}

.home__main__nosotros article .home__main__nosotros__div1,.home__main__nosotros article .home__main__nosotros__div3  {
    justify-content: center;
    align-items: center;
}
.home__main__nosotros article .home__main__nosotros__div2 {
    flex-direction: row-reverse; 
    justify-content: center;
}


  @media (min-width: 600px) and (max-width: 1023px){

    .home__main h2 {
        font-size: 1.2rem;
    }
    .home__main h3, .home__main__servicios .home__main__cortepelo h3, .home__main__servicios .home__main__ba単o h3{
        font-size: 0.8rem;
    }    

    .home__main h4 {
        font-size: 0.8rem;
    }
    .home__main__nosotros article div img {
        border: 3px solid var(--nieve);
        
    }
    .home__main__nosotros p {
        font-size: 1.2rem;
    }   
}


@media (min-width: 1024px) {
    .home__main h2 {
        font-size: 1.4rem;
    }

    .home__main h3, .home__main__servicios .home__main__cortepelo h3, .home__main__servicios .home__main__ba単o h3{
        font-size: 1.2rem;
    }    

    .home__main h4 {
        font-size: 1rem;
    }


    .home__main__nosotros article div {
        height: 27vw;
    }

    .home__main__nosotros p {
        font-size: 1.4rem;
    }
}
     