.productAdd h2 {
    margin: 3px 0px 10px;
    height: 4vw;
    font-size: 2vw;
    font-weight: 500;
    background: var(--colores4);
    border-bottom:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.productAdd__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
}
.productAdd__form div {
    width: 50vw;
    justify-content:left;
    align-items: center;
    text-align:justify;
    margin: 0 auto;
    padding: 2vw 2vw;
    border: 1px solid black;
    background-color: var(--nieve);
}
.productAdd__form__bottons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.productAdd__form__bottons div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.productAdd__form__bottons button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productAdd__form__bottons button:hover {
    background:var(--colores4);
}

.productAdd__form div:hover {
    background:white;
    
}

 #imagePreview {
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20vw;
} 

#imagePreview:hover{
    background: var(--nieve);
} 

#imagePreview img{
    margin: 0 auto;
    padding: 0 auto;
    width: 10vw;
} 




@media (min-width: 640px) and (max-width: 1023px) {
    .productEdit h2 {
        font-size: 3vw;
    }

    .productEdit__form div, .productEdit__form button {
        font-size: 1vw;

    }
}

@media (min-width: 1024px) and (max-width: 2561px) {
    .productAdd__form h2 {
        font-size: 2vw;
        height: 4vw;
        margin: 0 auto;
        text-align: left;
    }

    .productEdit__form div, .productEdit__form button {
        font-size: 1vw;
       
    }
}