.cart-title {
    background-color: var(--amarillo);
    box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.189);
    margin:1% 0px;
    text-align: center;
    font-size: 125%;
}

table {
    background: var(--amarillento);
    border: 1px black solid;
    width: 100vw;
    height: 30vw;
    border-collapse: collapse;
}

td,th {
    box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.189);
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}


.tabla-img-td {
    width: 20vw;
    height: 20vw;
}


.cart-title-relaciondos {
    background-color: var(--azul);
    box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.189);
    margin:1% 0px;
    text-align: center;
    font-size: 125%;
}

.productos_relacionados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.productos_relacionados article {
    width: 25%;
    border: 1px solid black;
}

.productos_relacionados {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}