
.profile-title {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3px 0px 10px;
    height: 30px;
    font-size: 4vw;
    font-weight: 500;
    background: #FAC368;
    border-bottom:0px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-conjunto {
    display: flex;
    align-items: center;    
}

.profile-user h2 {
    background-color: var(--amarillo);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin-bottom: 10px;
    font-size: 4vw;
}

.profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.profile-user div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    background-color: var(--nieve);
    margin-bottom: 5px;
    border: 2px solid var(--verde);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}

.profile-user img {
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
}

.profile-user input {
    background: var(--amarillo);
    border: 2px solid var(--marron);
    color: black;
    border-radius: 35px;
    padding: 10px;
    font-size: 3vw;
    margin-bottom: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info h2 {
    background-color: var(--verde);
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin-bottom: 10px;
    font-size: 4vw;
}

.profile-info input {
    background: var(--verde);
    border: 2px solid var(--azul);
    color: white;
    border-radius: 35px;
    padding: 10px;
    font-size: 3vw;
    margin-bottom: 10px;
}

.profile-info input:hover{
    background: 
    linear-gradient(var(--verde), var(--azul), var(--verde)) padding-box,
    linear-gradient(to right, var(--marron), var(--amarillo), var(--azul)) border-box;
}

.profile-detalle {
    display: flex;
    width: 50vw;
    height: 30vw;
    margin-bottom: 5px;
    background-color: var(--azul);
    border: 2px solid var(--amarillo);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.profile-detalle p {
    width: 95%;
    height: 30vw;
    overflow-y: scroll;
    color: var(--nieve);
    font-size: 2.5vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-detalle p:hover{
    background: 
    linear-gradient(var(--azul), var(--verde), var(--azul)) padding-box,
    linear-gradient(to right, var(--marron), var(--amarillo), var(--azul)) border-box;
}

.profile-detalle h3 {
    font-size: 4vw;
    color: var(--verde);
    background-color: var(--amarillo);
    border-radius: 35px;
    border: 2px solid var(--azul);
    outline: 2px solid var(--marron);
}

@media (min-width: 640px) and (max-width: 1023px) {

    .profile-title {
        font-size: 3vw;
    }

    .profile-conjunto {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .profile-user h2 {
        font-size: 3vw;
    }

    .profile-info h2 {
        font-size: 3vw;
    }

    .profile-detalle {
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-between;
        border: 3px solid var(--amarillo);
    }

    .profile-detalle p {
        height: 40vw;
        font-size: 2vw;
    }

    .profile-detalle h2 {
        font-size: 3vw;
        border: 4px solid var(--azul);
        outline: 4px solid var(--marron);
    }

    .profile-detalle input {
        font-size: 2vw;
        border: 4px solid var(--azul);
        outline: 4px solid var(--marron);
    }

}

@media (min-width: 1024px) and (max-width: 2561px) {

    .profile-title {
        font-size: 2vw;
    }

    .profile-conjunto {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .profile-user h2 {
        font-size: 2vw;
    }

    .profile-user div {
        width: 55%;
        border: 5px solid var(--verde);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .profile-info h2 {
        font-size: 2vw;
    }

    .profile-detalle {
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-between;
        border: 5px solid var(--amarillo);
    }

    .profile-detalle p {
        height: 40vw;
        font-size: 2vw;
    }

    /* .detail-detalle h3 {
        font-size: 3vw;
        border: 6px solid var(--azul);
        outline: 6px solid var(--marron);
    } */

    .profile-detalle input {
        font-size: 2vw;
        border: 6px solid var(--azul);
        outline: 6px solid var(--marron);
    }

}