.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-article {
    width: 90vw;
    box-shadow:  0px 0px 3px 3px rgb(0 0 0 / 25%);  
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 3px;
    background: var(--colores4);
}

.services-divs-imgs {
    display: flex;
    margin: 5px 3px;

}

.services-divs-imgs img{
    width: 30vw;
    height: 25vw;
    border-radius: 25px;
    margin: 0 20px;
}

.services-details {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 70vw;
    background-color: var(--azul);
    border: 2px solid var(--amarillo);
    align-items: center;
    justify-content: space-around;
}

.services-botons {
    margin: 3px;
    border-radius: 20px;
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.services-botons a, .services-botons i {
    color: var(--nieve);
    background-color: var(--verde);
    padding: 3px;
    border-radius: 25px;
}

.services-botons a:hover {
    color: var(--amarillo);
}

@media (min-width: 640px) and (max-width: 1023px) {

    .services-section {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .services-article {
        width: 48vw;
        border-radius: 30px;
        flex-direction: column;
        margin: 5px 5px;
    }
    
    .services-divs-imgs {
        margin: 5px auto;
    }
    
    .services-divs-imgs img{
        width: 25vw;
        height: 20vw;
        border-radius: 20px;
        margin: 0 20px;
    }
    
    .services-details {
        width: 45vw;
        height: 45vw;
        border: 3px solid var(--amarillo);
    }
    
    .services-botons {
        margin: 10px;
        width: 65%;
    }

}

@media (min-width: 1023px) and (max-width: 2561px) {

    .services-section {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .services-article {
        width: 48vw;
        border-radius: 35px;
        flex-direction: column;
        margin: 5px 5px;
    }
    
    .services-divs-imgs {
        margin: 5px auto;
    }
    
    .services-divs-imgs img{
        width: 30vw;
        height: 25vw;
        border-radius: 25px;
        margin: 0 25px;
    }
    
    .services-details {
        width: 45vw;
        height: 45vw;
        border: 3px solid var(--amarillo);
    }
    
    .services-botons {
        margin: 10px;
        width: 70%;
    }

}