<!DOCTYPE html>
<html lang="es">

<%- include('partials/head'); %>

<body>

    <%- include('partials/header'); %> 
    
    <main>
        <section class="home__about__nosotros" id="home__about__nosotros">
            <div class="home__about__nos__h2">
                <h2>NOSOTROS</h2>
            </div>
            <section class="home__about__nosotros-section1">
                <article>
                    <h4>¿Quienes somos?</h4>
                        <div id="about1" class="home__about__nosotros__div1">
                            <img src="/images/perro-campito.webp" alt="">
                            <p>Somos tambienLadramos, un Pet Shop que se dedica a la venta de productos y servicios destinados para mascotas. Comercializamos productos de primera calidad y brindamos servicios personalizados de peluqueria y baño que pueden ser solicitados tanto via web como también en nuestro local o a través de nuestro instagram #tambiénLadramos.</p> 
                        </div>              
                </article>
                <article>
                    <h4>Nuestro horizonte</h4>
                        <div id="about2" class="home__about__nosotros__div2">
                            <img src="/images/perro-playa.jfif" alt="">
                            <p>Nuestro horizonte apunta a ellas, nuestras mascotas. Nuestra misión es cubrir todas sus necesidades y brindarles el mismo amor que ellas nos brindan día a día. Creemos que la felicidad sólo es posible gracias a su presencia, porque ellos también son parte de nuestra familia, y así como ellas, ustedes, no son sólo nuestros clientes, son parte de la manada.</p>
                        </div>    
                </article>
            </section>
            <section class="home__about__nosotros-section2">
                <article>
                    <h4>Adopciones</h4>
                    <div id="about3" class="home__about__nosotros__div3">
                            <img src="/images/perro-gato.webp" alt="">
                            <p>No se trata sólo de que los animales cuenten con un techo para que no pasen frío, sino también que las próximas generaciones entiendan la importancia de la prevención de estas situaciones. Por esto es que <strong>tambienLadramos,</strong> en colaboración con <a href="https://www.elcampitorefugio.org/" target="_blank" rel="noopener noreferrer">El Campito Refugio</a> y <a href="https://www.elcampitorefugio.org/" target="_blank" rel="noopener noreferrer">Proyecto 4 Patas</a> se compromete a trabajar firmemente en las comunidades por un mundo con menos animales sin techo ni familia.
                            A todos aquellos que crean en nuestra causa, son bienvenidos para aportar su granito de arena, ya sea con la compra de nuestros productos, servicios o a través de donaciones, que al fin y al cabo, serán destinadas a ellos.</p>
                            <p></p>
                        </div>                        
                </article>
            </section>
        </section>   
    </main>
  
    <%- include('partials/footer'); %> 
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>    
</html>