<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<main>
    <section> <h1>carrito de compras</h1>

        <article> <h4>nombre</h4>
            <article>
                <p>nombre</p>
                </article>

            </article>

        <article> <h4>producto</h4> 
            <article>
                <img src="" alt="producto">

                </article>

            </article>
        
        <article> <h4>detalles del producto o sevicio</h4> 
            <article>
                <p>detalles</p>
                </article>

            </article>
        
        <article> <h4>cantidad</h4> 
            <article>
                <h5>descuento</h5>
                <p>cantidad</p>
                </article>

            </article>
        
        <article> <h4>precio unitario</h4> 
            <article>
                <h5>oferta por cierta cantidad</h5>
                <p>precio unitario</p>
                </article>

            </article>
        
        <article> <h4>precio total</h4> 
            <article>
                <p>precio total</p>
                </article>

            </article>

    </section>

    <section> <h2>productos relacionados</h2>
    
        <img src="" alt="flecha-izq">

        <article>
            <p>producto</p>
            <img src="" alt="producto">
            
            </article>

        <article>
            <p>producto</p>
            <img src="" alt="producto">
            
            </article>

        <article>
            <p>producto</p>
            <img src="" alt="producto">
            
            </article>

        <img src="" alt="flecha-izq">

        <article> 
            <p>si quieres ver mas precione aqui porfavor> </p> 
            <a href="">ver más</a>
            </article>

    </section>
</main>


</body>
</html>