<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body class="home-body">
    <%- include('./partials/header') %>
    <main>
        <h2 class="prod-h2">PRODUCTOS</h2>  
            <nav class="home-productos">                               
                    <section class="sect-pr">                
                        <h3>ALIMENTO BALANCEADO</h3>                   
                                <div>
                                    <a href="/products/productDetail"><img  src="/images/perro-cocinero.jfif" alt="perro-cocinero"></a>    
                                    <a href="productDetail"> <img src="/images/gato-cocinero.jpg" alt="gato-cocinero"></a> 
                                </div>                                                     
                    </section>
                    <section class="sect-pr">
                        <h3>HIGIENE Y ACCESORIOS</h3>                     
                                <div>
                                        <a href="productDetail"><img src="/images/perro-baño.jfif" alt="perro-cocinero"></a>   
                                        <a href="productDetail"><img src="/images/gato-casita.jpg" alt="gato-cocinero"></a>
                                </div>             
                    </section>                          
            
            </nav>  
            <h2 class="serv-h2">SERVICIOS</h2>      
                <nav class="servicios">            
                    <section class="sect-serv">
                        <h3>CORTES DE PELO</h3>                
                            <div class="home-serv-div">
                                <a href="">
                                    <img src="/images/perro-elvis.jpg" alt="perrito-presley">
                                </a>
                            </div>                   
                    </section>
                   
                    <section class="sect-serv">      
                        <h3>BAÑOS</h3>          
                            <div class="home-serv-div">
                                <a href="">
                                    <img src="/images/perro-Husky.jfif" alt="perrito-husky">
                                </a>
                            </div>         
                    </section>      
                </nav>   
            <h2 class="nosotros-h2">NOSOTROS</h2>
                <nav class="nosotros">
                <section class="sect-nos">               
                        <div class="perro-campo">
                            <h4>¿Quienes somos?</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt natus itaque, et sed illo cumque adipisci nam eveniet sequi vel. Odio laborum rerum iste nihil beatae sit facere deserunt.                  
                            </p>                        
                        </div>                    
                </section>
                <section class="sect-nos">                   
                        <div class="perro-playa">
                            <h4>Nuestro horizonte</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt natus itaque, et sed illo cumque adipisci nam eveniet sequi vel. Odio laborum rerum iste nihil beatae sit facere deserunt.                     
                            </p>
                        </div>          
                </section>
                <section class="sect-nos">
                    <div class="perro-gato">
                        <h4>Adopciones</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt natus itaque, et sed illo cumque adipisci nam eveniet sequi vel. Odio laborum rerum iste nihil beatae sit facere deserunt.   
                            </p>
                        </div>                 
                </section>
            </nav>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>