<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <header>
        <nav class="header-contacto">
            <img src="/site_tambienLadramos/public/images/" alt="perrito informatico">
            <a href="">TambiénLadramos</a>
            <a href="">Telefono</a>
            <a href="">Acceder</a>
            <img src="" alt="icono user">
        </nav>

        <nav class="header-busqueda">
            <a href=""><img src="" alt="Logo"></a>

            <a href="">
                <h4>Productos</h4>
                <ul>
                    <a href="">Alimento balanceado</a>
                        <ul>
                            <li><a href="">Perros</a></li>
                            <li><a href="">Gatos</a></li>
                        </ul>                    
                </ul>
                <ul>
                    <a href="">Higiene & accesorios</a>     
                    <ul>
                        <li><a href="">Perros</a></li>
                        <li><a href="">Gatos</a></li>
                    </ul>     
                </ul>
            </a>

            <a href="">
                <h4>Servicios</h4>
                    <ul>
                        <li><a href="">Cortes de pelo</a></li>           
                    </ul>
                    <ul>
                        <li><a href="">Baños</a></li>    
            </a>
                
                <a href="">Nosotros</a>

                <h1>Barra-búsqueda</h1>            
                    <div>
                        <a href="">
                            <img src="" alt="Barra-búsqueda" width="300">
                        </a>
                    </div>                        
                <div>
                    <a href="">¿Cómo comprar?<img src="" alt="?"></a>
                </div>
                
                
                <a href="">
                    <img src="" alt="Carrito">
                </a>
                
        </nav>
    </header>
    <main>
        <section>
            <h1>PRODUCTOS</h1> 
            <section>
                <h2>ALIMENTO BALANCEADO</h2>
                <article>
                    <a href="">
                        <div>
                            <img src="/images/perro-cocinero.jfif" alt="perro-cocinero" width="150">
                        </div>                        
                    </a>
                </article>
                <article>
                    <a href="">
                        <div>
                            <img src="/images/gato-cocinero.jpg" alt="gato-cocinero" width="150">
                        </div>                        
                    </a>
                </article>               
            </section>

            <section>
                <h2>HIGIENE Y ACCESORIOS</h2>
                <article><a href=""><img src="" alt="perrito-toalla"></a></article>
                <article><a href=""><img src="" alt="gatitos-casita"></a></article>
                <img src="" alt="icono-gatito">
            </section>
        </section>
        
        <section>
            <h1>SERVICIOS</h1>
            <section>
                <img src="" alt="icono-perrito">
                <h2>CORTES DE PELO</h2>
                <article><a href=""><img src="" alt="perrito-presley"></a></article>
                <article><a href=""><img src="" alt="gatito-rasta"></a></article>
            </section>

            <section>
                <h2>BAÑOS</h2>
                <article><a href=""><img src="" alt="perrito-husky"></a></article>
                <article><a href=""><img src="" alt="gatitos-baño"></a></article>
                <img src="" alt="icono-gatito">
            </section>
        </section>

        <section>
            <h1>NOSOTROS</h1>
        </section>
    </main>
    <footer>
        <section>
            <!-- <p>FONDO-LOGO</p> -->
            <h3>Sobre nosotros</h3>
            <p>¿Tenes dudas? ¡Contactanos!</p>
            <img src="" alt="Icono-telefono">
            <p>0800-222-800</p>
            <img src="" alt="Icono-correo">
            <p>tambienladramos@gmail.com</p>
        </section>

        <section>
            <!-- <p>FONDO-LOGO</p> -->
            <h3>¡Seguinos!</h3>
            <img src="" alt="Icono-instagram">
            <p>#TambiénLadramos</p>
        </section>

        <section>   
            <!-- <p>FONDO-LOGO</p> -->
            <h3>Legales</h3>
            <p>Institucional</p>
            <p>Política de privacidad</p>
            
        </section>
            <h3>2022 - All rights Reserved</h3>
    </footer>

</body>
</html>