<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4c01eff087.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Home</title>
</head>
<body class="home-body">
    <header class="home-header">        
            <nav class="home-nav-login">                
                    <a class="home-header-logo" href="/"><img class="logo" src="/images/Logo.png" alt="Logo"></a>                

                <div class="home-div-header">
                    <ul>
                        <li><a href="product"><h3>Productos</h3></a></li>
                        <li><a href="services"><h3>Servicios</h3></a></li>
                        <li><a href="services"><h3>Nosotros</h3></a></li>
                        <a href="login"><i class="fa-solid fa-user fa-2x"></i></a>                      
                    </ul>                    
                </div>                               
                   
                <!-- <a href=""><h4>Alimento balanceado</h4></a>
                 <ul>
                                    <ul>
                    
                                        <li><a href="">Perros</a></li>                            
                                        <li><a href="">Gatos</a></li>
                                    </ul>                    
                            </ul>    
                            <ul>
                                <a href=""><h4>Higiene & accesorios</h4></a>     
                                    <ul>
                                        <li><a href="">Perros</a></li>
                                        <li><a href="">Gatos</a></li>
                                    </ul>     
                            </ul> -->                  
                
                            <!-- <ul>
                                <a href=""><h4>Cortes de pelo</h4></a>
                                    <ul>
                                        <li><a href="">Perros</a></li>                            
                                        <li><a href="">Gatos</a></li>
                                    </ul>                    
                            </ul>    
                            <ul>
                                <a href=""><h4>Baños</h4></a>     
                                    <ul>
                                        <li><a href="">Perros</a></li>
                                        <li><a href="">Gatos</a></li>
                                    </ul>     
                            </ul> -->                 
            </nav>

            <nav class="nav-hambur">
               
                <a href=""><i class="fa-solid fa-bars fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a>
                <a href="productCart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>                 
            </nav>
    </header>
            
    <main>
        <h2 class="prod-h2">PRODUCTOS</h2>  
            <nav class="home-productos">                               
                    <section class="sect-pr">                
                        <h3>ALIMENTO BALANCEADO</h3>                   
                                <div>
                                    <a href="productDetail"><img  src="/images/perro-cocinero.jfif" alt="perro-cocinero"></a>    
                                    <a href="productDetail"> <img src="/images/gato-cocinero.jpg" alt="gato-cocinero"></a> 
                                </div>                                                     
                    </section>
                    <section class="sect-pr">
                        <h3>HIGIENE Y ACCESORIOS</h3>                     
                                <div>
                                        <a href="productDetail"><img src="/images/perro-baño.jfif" alt="perro-cocinero"></a>   
                                        <a href="productDetail"><img src="/images/gato-casita.jpg" alt="gato-cocinero"></a>
                                </div>             
                    </section>                          
            
            </nav>  
            <h2 class="serv-h2">SERVICIOS</h2>      
                <nav class="servicios">            
                    <section class="sect-serv">
                        <h3>CORTES DE PELO</h3>                
                            <div class="home-serv-div">
                                <a href="">
                                    <img src="/images/perro-elvis.jpg" alt="perrito-presley">
                                </a>
                            </div>                   
                    </section>
                   
                    <section class="sect-serv">      
                        <h3>BAÑOS</h3>          
                            <div class="home-serv-div">
                                <a href="">
                                    <img src="/images/perro-Husky.jfif" alt="perrito-husky">
                                </a>
                            </div>         
                    </section>      
                </nav>   
            <h2 class="nosotros-h2">NOSOTROS</h2>
                <nav class="nosotros">
                <section class="sect-nos">               
                        <div class="perro-campo">
                            <h4>¿Quienes somos?</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt natus itaque, et sed illo cumque adipisci nam eveniet sequi vel. Odio laborum rerum iste nihil beatae sit facere deserunt.                  
                            </p>                        
                        </div>                    
                </section>
                <section class="sect-nos">                   
                        <div class="perro-playa">
                            <h4>Nuestro horizonte</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt natus itaque, et sed illo cumque adipisci nam eveniet sequi vel. Odio laborum rerum iste nihil beatae sit facere deserunt.                     
                            </p>
                        </div>          
                </section>
                <section class="sect-nos">
                    <div class="perro-gato">
                        <h4>Adopciones</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt natus itaque, et sed illo cumque adipisci nam eveniet sequi vel. Odio laborum rerum iste nihil beatae sit facere deserunt.   
                            </p>
                        </div>                 
                </section>
            </nav>
    </main>
    <footer>
        <section>        
                <div class="div1">
                    <h3 class="foot-titu">¡Contactanos!</h3>
                    <a href=""><i class="fa-solid fa-phone fa-2x"></i></a>            
                    <h4>0800-222-800</h4>
                    <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
                    <h4>tambienladramos@gmail.com</h4>
                </div>                          
                <div class="div2">                
                    <h3 class="foot-titu">¡Seguinos!</h3>
                    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>            
                    <h4>#TambiénLadramos</h4>       
                </div>
                <div class="div3">
                    <h3 class="foot-titu">Hecho con <a href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h3> 
                    <h4>Legales</h4>
                    <h4>2022 - All rights Reserved</h4>
                </div>    
            </section>              
    </footer>
    
</body>
</html>