<!DOCTYPE html>
<html lang="es">

<%- include('partials/head'); %>

<body>

    <%- include('partials/header'); %> 
    
<main class="home__main">
    <section class="home__-carousel">
    <div id="carouselExampleDark" class="carousel carousel-dark slide col-12 d-none d-lg-block" data-bs-ride="carousel">
        <div class="carousel-indicators d-flex justify-content-center">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active text-center" data-bs-interval="10000">
            <img src="/images/Alimento-balanceado/image-1660077533848.png" class="d-block responsive img-fluid mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-flex flex-column">
              <h5>Pro Plan 3 kg</h5>
              <p>Nuevas croquetas extra sabrosas</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/Alimento-balanceado/image-1660077849813.png" class="d-block responsive img-fluid mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pedegree Alimento seco para perros grandes</h5>
              <p>Nuestro alimento para perros con sabor a pollo</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/Alimento-balanceado/image-1660077874080.png" class="d-block responsive img-fluid mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nutrique Gato Joven Mantenimiento Saludable</h5>
              <p>Antioxidantes naturales en la prevención del envejecimiento</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev d-flex justify-content-end" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next d-flex justify-content-start" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
        <section class="home__main__productos">
            <div class="home__main__prod__h2">
                <h2>PRODUCTOS</h2>
            </div>
                <h3>ALIMENTO BALANCEADO</h3>
                    <article>
                        <% category.forEach(({defaultpics}) => { %>
                            <% defaultpics.forEach(({name}) => { %>
                            <div>
                                <a href="products">
                                    <img src="/images/<%= name %>" alt="">
                                </a>
                            </div>
                            <% }) %> 
                        <% }) %>
                    </article>         
        </section>    
            <!-- <h3>HIGIENE & ACCESORIOS</h3>
                <article>
                    <div class="imagen">
                        <a href="">
                            <img src="/images/perro-baño.jfif" alt="">
                        </a>
                    </div>
                    <div class="imagen">
                        <a href="">
                            <img src="/images/gato-casita.jpg" alt="">
                        </a>
                    </div>
                </article> -->
        <section class="home__main__servicios">
            <div class="home__main__serv__h2">
                <h2>SERVICIOS</h2>
            </div>
            <article class="home__main__cortepelo">    
                <h3>CORTES DE PELO</h3>       
                <div> 
                    <a href="services">
                        <img src="/images/perro-elvis.jpg" alt="">
                    </a>
                </div>
            </article>  
            <article class="home__main__baño">
                <h3>BAÑOS</h3>
                <div>
                    <a href="services">
                        <img src="/images/perro-baño.jfif" alt="">
                    </a>
                </div>
            </article>
        </section>
        <section class="home__main__nosotros" id="home__main__nosotros">
            <div class="home__main__nos__h2">
                <h2>NOSOTROS</h2>
            </div>
                <article>
                    <h4>¿Quienes somos?</h4>
                    <a href="aboutus/#about1">
                        <div class="home__main__nosotros__div1">
                            <img src="/images/perro-campito.webp" alt="">
                        </a>
                            <p>Somos tambienLadramos, un Pet Shop que se dedica a la venta de productos y...</p> 
                        </div>                                
                </article>
                <article>
                    <h4>Nuestro horizonte</h4>
                    <a href="aboutus/#about2">
                        <div class="home__main__nosotros__div2">
                            <img src="/images/perro-playa.jfif" alt="">
                        </a>
                            <p>Nuestro target apunta a ellas, nuestras mascotas. Nuestra misión es cubrir todas sus necesidades y..</p>
                        </div>    
                </article>
                <article>
                    <h4>Adopciones</h4>
                    <a href="aboutus/#about3">
                    <div class="home__main__nosotros__div3">
                            <img src="/images/perro-gato.webp" alt="">
                        </a>
                            <p>No se trata sólo de que los animales cuenten con un techo para que no pasen frío en...</p>
                        </div>                        
                </article>
        </section>
    </main>
  
    <%- include('partials/footer'); %> 
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="/javascript/carousel.js"></script>
</body>    
</html>