<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4c01eff087.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Acceder</title>
</head>
<body class="home-body">
    <header class="home-header">        
            <nav class="home-nav-login">                
                    <a class="home-header-logo" href=""><img class="logo" src="/images/Logo.png" alt="Logo"></a>                

                <div class="home-div-header">
                    <ul>
                        <li><a href=""><h3>Productos</h3></a></li>
                        <li><a href=""><h3>Servicios</h3></a></li>
                        <li><a href=""><h3>Nosotros</h3></a></li>
                        <a href=""><i class="fa-solid fa-user fa-2x"></i></a>                      
                    </ul>                    
                </div>                               
                <!--
                    <a href=""><h4>Alimento balanceado</h4></a>
                 <ul>
                                    <ul>
                    
                                        <li><a href="">Perros</a></li>                            
                                        <li><a href="">Gatos</a></li>
                                    </ul>                    
                            </ul>    
                            <ul>
                                <a href=""><h4>Higiene & accesorios</h4></a>     
                                    <ul>
                                        <li><a href="">Perros</a></li>
                                        <li><a href="">Gatos</a></li>
                                    </ul>     
                            </ul> -->                  
                
                            <!-- <ul>
                                <a href=""><h4>Cortes de pelo</h4></a>
                                    <ul>
                                        <li><a href="">Perros</a></li>                            
                                        <li><a href="">Gatos</a></li>
                                    </ul>                    
                            </ul>    
                            <ul>
                                <a href=""><h4>Baños</h4></a>     
                                    <ul>
                                        <li><a href="">Perros</a></li>
                                        <li><a href="">Gatos</a></li>
                                    </ul>     
                            </ul> -->                 
            </nav>

            <nav class="nav-hambur">
                <!-- <input type="checkbox" id="menu">
                <label for="menu"> ☰ </label>
 -->
                <a href=""><i class="fa-solid fa-bars fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping fa-2x"></i></a>                 
            </nav>
    </header>
    <main class="login-main"> 
        <nav>
            <form class="login-form" action="" method="get">
                <h2>Acceder</h2>
                <ul>   
                    <li>
                        <input type="text" type="email" id="login_user" name="user_name" placeholder="Nombre completo o email">
                        <input type="password" id="login_user" name="user_contrasena" placeholder="Contraseña">
                        <a id="boton" href=""><input class="bottons" type="submit" value="Acceder"></a>  
                        <a class="login-olvi" href="">¿Olvidaste tu contraseña?</a>
                    </li>
                </ul>
            </form>
        </nav>
    </main>   
    <footer class="home-footer">
        <nav>
            <section class="home-footer-sect">
                    <h4>¡Contactanos!</h4>
                    <a href=""><i class="fa-solid fa-phone fa-2x"></i></a>            
                    <h4>0800-222-800</h4>
                    <a href=""><i class="fa-solid fa-envelope fa-2x"></i>
                    <h4>tambienladramos@gmail.com</h4></a>
                </section>          
            <section class="home-footer-sect-ig">
                    <h4>¡Seguinos!</h4>
                    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>            
                    <h4>#TambiénLadramos</h4>       
            </section>
            <section class="home-footer-sect-comi"> 
                    <h4>Hecho con <a href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h4> 
                <h4>2022 - All rights Reserved</h4>
            </section>   
        </nav>
    </footer>

</body>
</html>