<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>productos</title>
</head>
<body>

<main>
    
    <section class="productos"> 
        
            <h1>productos</h1>

        <article class="producto_1">

            <h5>inicio>Productos</h5>
            <p>mas relevante <img src="" alt="flecha-abajo"></p>
        
        </article>

        <article class="producto-1">
            
            <a href="">
                <img src="" alt="producto">
                <p>producto-1</p>
                <p>precio 000$</p>
            </a>
        
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

    </section>

    <section>

        <article>

            <img src="" alt="flecha-izq">

                <p>Pág 1</p>

            <img src="" alt="flecha-derecha">

        </article>

    </section>

</main>

</body>
</html>