<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="carrito_body">

    <%- include('./partials/header') %>

<main>
    <h1 class="cart-title">carrito de compras</h1>
    
    <nav class="tabla-carrito"> 
        <table>
            <tr>
                <th>nombre</th>
                <th>producto</th>
                <th>detalles de producto</th>
                <th>precio</th>
            </tr>
         
            <tr>
                <td>nombre</td>
                <td class="tabla-img-td"><img src="/images/gato-mambru.jpg" alt="comida-perron"></td>
                <td>detalles de producto</td>
                <td>precio</td>
            </tr>

            <tr>
                <td>nombre</td>
                <td class="tabla-img-td"><img src="/images/gato-mambru.jpg" alt=""></td>
                <td>detalles de producto</td>
                <td>precio</td>
            </tr>

            <tr>
                <td>nombre</td>
                <td class="tabla-img-td"><img src="/images/gato-mambru.jpg" alt=""></td>
                <td>detalles de producto</td>
                <td>precio</td>
            </tr>
                
            <tr>
                <td>nombre</td>
                <td class="tabla-img-td"><img src="/images/gato-mambru.jpg" alt=""></td>
                <td>detalles de producto</td>
                <td>precio</td>
            </tr>

            <tr>
                <td>nombre</td>
                <td class="tabla-img-td"><img src="/images/gato-mambru.jpg" alt=""></td>
                <td>detalles de producto</td>
                <td>precio</td>
            </tr>

            <tr>
                <td>nombre</td>
                <td class="tabla-img-td"><img src="/images/gato-mambru.jpg" alt=""></td>
                <td>detalles de producto</td>
                <td>precio</td>
            </tr>
        </table>

        <table class="cart-end-of-table">
            <tr>
                <th><a href="">boton de continuar comprando</a></th>
            </tr>
            
            
            <tr>
            
                <th>total a pagar</th>
             
            </tr>
               
                
            <tr>

                <th><a href="">finalizar compra</a></th>

            </tr>
        </table>
    
        
    </nav>

    <nav>
        <h2 class="cart-title-relaciondos">productos relacionados</h2>
        
        <section class="productos_relacionados">
            <div>
                <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
            </div>

            <article>
                <a href=""><p>producto</p>
                    <img src="/images/productos_jpg/cat_pescado_1.jpg" alt="producto">
                </a>
            </article>

            <article>
                <a href=""><p>producto</p>
                    <img src="/images/productos_jpg/cat_pescado_1.jpg" alt="producto">
                </a>
            </article>

            <article>
                <a href=""><p>producto</p>
                    <img src="/images/productos_jpg/cat_pescado_1.jpg" alt="producto">
                </a>
            </article>

            <div>
                <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
            </div>
        </section>

        <div class="ver-mas"> 
            <p>si quieres ver mas precione aqui porfavor >>><a href="">ver más</a></p>
        </div>
    </nav>
</main>

    <%- include('./partials/footer') %>

</body>
</html>