<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4c01eff087.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Detalle del Producto</title>
</head>
<body class="productDetail"> <!--Preguntale a criss si it's ok?-->
    <header>        
            <nav class="nav-login">                
                    <a class="header-logo" href=""><img class="logo" src="/images/Logo.png" alt="Logo"></a>                

                <div class="div-header">
                    <ul>
                        <li><a href=""><h3>Productos</h3></a></li>
                        <li><a href=""><h3>Servicios</h3></a></li>
                        <li><a href=""><h3>Nosotros</h3></a></li>
                    </ul>  
                </div>       
                <div class="icon-user">
                    <a href=""><i class="fa-solid fa-user fa-2x"></i></a> 
                </div> 
            </nav>
                        
            <nav class="nav-hambur">
                <a href=""><i class="fa-solid fa-bars fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping fa-2x"></i></a>                 
            </nav>
    </header>







    <footer>
        <section>
            <img src="/images/Logo.png" alt="">
            <h3>Sobre nosotros</h3>
            <p>¿Tenes dudas? ¡Contactanos!</p>
            <img src="" alt="Icono-telefono">
            <p>0800-222-800</p>
            <img src="" alt="Icono-correo">
            <p>tambienladramos@gmail.com</p>
        </section>

        <section>            <!-- <p>FONDO-LOGO</p> -->
            <h3>¡Seguinos!</h3>
            <img src="" alt="Icono-instagram">
            <p>#TambiénLadramos</p>
        </section>

        <section class="c14">               <!-- <p>FONDO-LOGO</p> -->
            <!-- <h3>Legales</h3>
            <p>Institucional</p>
            <p>Política de privacidad</p> -->
            <h3>Hecho con <a href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h3> 
            
        </section>
            <h3>2022 - All rights Reserved</h3>
    </footer>
</body>
</html>