<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header-busqueda">
        <nav class="nav-busqueda">
            <a href=""><img src="/images/Logo.png" alt="Logo" width="50"></a>    
            <a href="">    
                <h3>Productos</h3>
                <ul>
                    <a href=""><h4>Alimento balanceado</h4></a>
                        <ul>
                            <li><a href="">Perros</a></li>                            
                            <li><a href="">Gatos</a></li>
                        </ul>                    
                </ul>    
                <ul>
                    <a href=""><h4>Higiene & accesorios</h4></a>    
                        <ul>
                            <li><a href="">Perros</a></li>
                            <li><a href="">Gatos</a></li>
                        </ul>    
                </ul>
            </a>    
            <a href="">    
                <h3>Servicios</h3>
                <ul>
                    <a href=""><h4>Cortes de pelo</h4></a>
                        <ul>
                            <li><a href="">Perros</a></li>                            
                            <li><a href="">Gatos</a></li>
                        </ul>                    
                </ul>    
                <ul>
                    <a href=""><h4>Baños</h4></a>    
                        <ul>
                            <li><a href="">Perros</a></li>
                            <li><a href="">Gatos</a></li>
                        </ul>    
                </ul>
            </a>                    
                <a href=""><h3>Nosotros</h3></a>
                <div><a href=""><i class="fa-solid fa-user fa-2x"></i></a></div>
                <div><a href=""><i class="fa-solid fa-bars fa-2x"></i></a></div>  
                <div><a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></div>  
                <div><a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a></div>
                <div><a href=""><i class="fa-solid fa-cart-shopping fa-2x"></i></a></div>
        </nav>
    </header>

<main>
    
    <section> <h1>productos</h1>

        <article>
            <h5>inicio>Productos</h5>
            <p>mas relevante <img src="" alt="flecha-abajo"></p>
            </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

        <article>
            <a href="">
                <img src="" alt="producto">
                <p>nombre del producto</p>
                <p>precio 000$</p>
            </a>
        </article>

    </section>

    <section>

        <article>

            <img src="" alt="flecha-izq">

            <p>Pág 1</p>

            <img src="" alt="flecha-derecha">

        </article>

    </section>

</main>

<footer>
    <section>
        <img src="/images/Logo.png" alt="">
        <h3>Sobre nosotros</h3>
        <p>¿Tenes dudas? ¡Contactanos!</p>
        <img src="" alt="Icono-telefono">
        <p>0800-222-800</p>
        <img src="" alt="Icono-correo">
        <p>tambienladramos@gmail.com</p>
    </section>

    <section>
        <!-- <p>FONDO-LOGO</p> -->
        <h3>¡Seguinos!</h3>
        <img src="" alt="Icono-instagram">
        <p>#TambiénLadramos</p>
    </section>

    <section>  
        <!-- <p>FONDO-LOGO</p> -->
        <h3>Legales</h3>
        <p>Institucional</p>
        <p>Política de privacidad</p>
       
    </section>
        <h3>2022 - All rights Reserved</h3>
</footer>


</body>
</html>