<!DOCTYPE html>
<html lang="en" class="body_productos">

    <%- include('./partials/head') %>
    
<body class="body_productos">

    <%- include('./partials/header') %>
    
<main>
    
    <section class="productos"> 
        
                <h1>productos</h1>

        <section class="product-mas-relevante">
        
            <article>
                <h5>inicio>Productos</h5>
            </article>

            <article>
                <p>mas relevante</p>
                <i class="fa-solid fa-angle-down"></i>
            </article>
        
        </section>
        
        <nav class="products-productos">

            <article>
            
                <a href="products/productDetail">

                    <div>
                        <img src="/images/productos_jpg/cat_pescado_1.jpg" alt="producto">
                    </div>

                    <p>producto-1</p>
                    <p>precio 000$</p>

                </a>
        
            </article>

            <article>
                <a href="" class="productDetail">

                    <div>
                        <img src="/images/productos_jpg/dog_chow_1.jpg" alt="producto">
                    </div>

                    <p>producto-1</p>
                    <p>precio 000$</p>

                </a>
            </article>

            <article>
                <a href="productDetail">

                    <div>
                    <img src="/images/productos_jpg/cat_atun_2.jpg" alt="producto">
                    </div>

                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="/views/productDetail.ejs">
                    
                    <div>
                    <img src="/images/productos_jpg/dog_chow_2.jpg" alt="producto">
                    </div>

                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="productDetail">
                    
                    <div>
                    <img src="/images/productos_jpg/pedigre_1.jpg" alt="producto">
                    </div>

                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="productDetail">

                    <div>
                    <img src="/images/productos_jpg/raza_1.jpg" alt="producto">
                    </div>

                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>
    
        </nav>

    </section>

    <section>

        <article class="producto_pag_1">

           <i class="fa-solid fa-circle-arrow-left fa-2x"></i>

                <p>Pág 1</p>

            <i class="fa-solid fa-circle-arrow-right fa-2x"></i>    

        </article>

    </section>

</main>

    <%- include('./partials/footer') %>


</body>
</html>