<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
    <!-- <img src="/images/images.jpg" alt="">
    <a href="/">Volver al Home</a> -->
    <!-- <div>
        <div>
            <a href="whatsapp://send?phone=+54 9 11 3021-3101">Sacar turnos para peluquería</a>
        </div>
        <div>
            <a href="whatsapp://send?phone=+54 9 11 621568-06">Sacar turnos para baños</a>
        </div>
    </div> -->

    <main>

        <section class="services-section">
            <article class="services-article">
                <h2 class="service">cortes</h2>
                <div class="services-divs-imgs">
                    <div>
                        <img src="/images/cortes-perro.webp" alt="">
                    </div>
                    <div>
                        <img src="/images/cortes-perro(2).webp" alt="">
                    </div>
                </div>
                <p class="services-details">mucho texto</p>
            </article>
            <article class="services-article">
                <h2>baños</h2>
                <div class="services-divs-imgs">
                    <div>
                        <img src="/images/baños-perro(2).webp" alt="">
                    </div>
                    <div>
                        <img src="/images/baños-perro.webp" alt="">
                    </div>
                </div>
                <p class="services-details">mucho texto</p>
            </article>
        </section>

    </main>    
    
    <%- include('./partials/footer') %>

</body>
</html>