<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
    <main>

        <section class="services-section">
            <article class="services-article">
                <h2 class="services-title">cortes</h2>
                <div class="services-divs-imgs">
                    <img src="/images/cortes-perro(2).webp" alt="">
                </div>
                <div class="services-details">
                    <span>mucho</span>
                </div>
                <div class="services-botons">
                    <a class="service-whatshapp" href="whatsapp://send?phone=+54 9 11 3021-3101"><i class="fa-brands fa-whatsapp"> pedir turno</i></a>
                    <a href="/services/turns"><i class="fa-regular fa-calendar-days"> agendar turno</i></a>
                </div>
            </article>
            <article class="services-article">
                <h2>baños</h2>
                <div class="services-divs-imgs">
                    <img src="/images/baños-perro(2).webp" alt="">
                </div>
                <div class="services-details">
                    <p>mucho</p>
                </div>
                <div class="services-botons">
                    <a class="service-whatshapp" href="whatsapp://send?phone=+54 9 11 621568-06"><i class="fa-brands fa-whatsapp"> pedir turno</i></a>
                    <a href="/services/turns"><i class="fa-regular fa-calendar-days"> agendar turno</i></a>
                </div>
                
            </article>
        </section>

    </main>    
    
    <%- include('./partials/footer') %>

</body>
</html>