!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
    <main>

        <section>

            <article>

            </article>

            <article>

                <form class="turns_form" method="POST" action="">

                    <div>
                        <input class="turns_datos" type="text" id="algo" name="algo" placeholder="Algo" value="">
                        <span class="turns_form_errors"></span>
                    </div>
                    <div>
                        <input class="turns_datos" type="text" id="algo" name="algo" placeholder="Algo" value="">
                        <span class="turns_form_errors"></span>
                    </div>
                    <div>
                        <input class="turns_datos" type="text" id="algo" name="algo" placeholder="Algo" value="">
                        <span class="turns_form_errors"></span>
                    </div>
                    <div>
                        <input class="turns_datos" type="text" id="algo" name="algo" placeholder="Algo" value="">
                        <span class="turns_form_errors"></span>
                    </div>
                    <div>
                        <input class="turns_datos" type="text" id="algo" name="algo" placeholder="Algo" value="">
                        <span class="turns_form_errors"></span>
                    </div>
                </form>

            </article>

            <article>

            </article>

        </section>

    </main>    
    
    <%- include('./partials/footer') %>

</body>
</html>