<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body class="home-body">

    <%- include('../partials/header') %>

    <main class="login-main"> 
        <nav>
            
                <h2>Acceder</h2>
                <form class="login-form" action="" method="get">
                <ul>   
                    <li>
                        <div>
                        <input class="login_user" type="text" type="email" id="login_user" name="user_name" placeholder="email">
                        <input class="login_user" type="password" id="login_user" name="user_contrasena" placeholder="Contrase単a">
                        </div>
                        <a id="boton" href=""><input class="login_bottons" type="submit" value="Acceder"></a>  
                        <a class="login-olvi" href="">多Olvidaste tu contrase単a?</a>
                        <a class="login-olvi" href="register">多Quieres registrarte?</a>
                    </li>
                </ul>
            </>
        </nav>
    </main>   
    
    <%- include('../partials/footer') %>

</body>
</html>