.register_form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 4vw;
   
}

.register_form h2 {
    margin: 3px 0px 10px;
    height: 7vw;
    font-size: 4vw;
    font-weight: 500;
    background: var(--colores4);
    border-bottom:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100vw;
}

.register_form p {
    font-size: 3vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 5px auto;
}

.register_form a {
    margin: 5vw auto;
    font-size: 1.2rem;
}

.register_datos {
    margin: 3vw auto;
    display: flex;
    width: 50vw;
    padding: 5%;
    font-size: 3vw;
    background-color: gainsboro;
    border-radius: 40px;
    border: gainsboro;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register_datos:hover {
    background: 
    linear-gradient(var(--nieve), var(--nieve)) padding-box,
}

.register-boton {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
}
.bottons {
    display: flex;
    width: 50%;
    height: 5vw;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    background: 
    linear-gradient(var(--verde), var(--verde)) padding-box,
    linear-gradient(to right, var(--amarillo), var(--azul), var(--marron)) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}

.bottons:hover{
    background: 
    linear-gradient(var(--azul), var(--verde), var(--azul)) padding-box,
    linear-gradient(to right, var(--marron), var(--amarillo), var(--azul)) border-box;
}

@media (min-width: 640px) and (max-width: 1023px) {

    .register_form h2 {
        font-size: 3vw;
        height: 6vw;
    }

    .register_datos {
        margin: 2.5vw auto;
        padding: 3%;
        font-size: 2vw;
    }

}

@media (min-width: 1023px) and (max-width: 2561px) {
    .register-main nav {
        margin-bottom: 4vw;
    }
    .register_form h2 {
        font-size: 2vw;
        height: 4vw;
    }

    .register_datos {
        margin: 2vw auto;
        padding: 4%;
        font-size: 1.1vw;
        width: 45vw;
        height: 5vw;
    }

   .register_terminos a {
    font-size: 1rem;
   }

   .bottons {
    width: 50vw;
    font-size: 1.4rem;
    margin: 2rem;
   }
}