 .detail-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-nav h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0px 2vw;
    height: 30px;
    font-size: 3vw;
    font-weight: 500;
    background: #FAC368;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.detail-nav article {
    display: flex;
    width: 100vw;
    justify-content:space-evenly;
}

.detail-nav article a, .detail-nav article p, .detail-nav article form {
    background: var(--verde);
    border: 2px solid var(--amarillo);
    outline: 2px solid var(--azul);
    color: white;
    border-radius: 35px;
    padding: 10px;
    font-size: 3vw;
    margin: 2px;
    align-self: center;
}

.detail-nav article a:hover, .detail-nav article :hover, .detail-nav article form:hover {
    background-color: var(--amarillo);
    cursor: pointer;
}

.detail-nav article form button {
    color: var(--verde);
    background-color: var(--verde);
    border: var(--verde);  
}

.detail-nav article form i {
    background-color: var(--verde);
    color: var(--marron);
    
}

.detail-conjunto {
    width: 80vw;
    display: flex;
    margin: 4vw auto;
    flex-direction: column;
    align-items: center;
}

.detail-producto {
    width: 80vw;
    background: var(--nieve);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
}

.detail-producto-imgs {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px 0px 3px 0px rgb(0 0 0 / 13%);
}

.detail-producto-img{
    height: 30vw;
}

.detail-detalle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: top;
    width: 100%;
}

.detail-detalle-title {
    display: flex;
    width: 100%;
    height: 13vw;
    margin: 0 auto;
    background: var(--colores4);
    box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 8%);
    justify-content: center;
    align-items: center;
}

.detail-detalle-conjunto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0px -1px 3px 0px rgb(0 0 0 / 13%);
    height: 10vh;
}

.detail-detalle-conjunto div{
    background: white;
    border: 1px dotted black;
    border-radius: 50vh;
    width: 25%;
}

#detail-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    text-align: center;
    border-radius: 1vh;
    border: 0.1vw dotted black;
    background: white;
}

#detail-price span {
    font-size: 0.9rem;
}

.detail-detalle-descript {
    display: flex;
    justify-content: center;
    height: 75%;
}

.detail-detalle-descript span {
    width: 80%;
}

.detail-comprar-botons {
    display: flex;
    width: 100%;
    height: 17vw;
    text-align: center;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
    flex-direction: row;
    background: white;
    align-items: center;
    justify-content: space-around;
}

.detail-comprar-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
    background: var(--amarillo);
    border-radius: 5vw;
    width: 35%;
    height: 75%;
    font-size: 0.8rem;
}

.detail-comprar-span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.detail-comprar-boton-a {
    color: black;
    text-decoration: none;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .detail-nav h2 {
        font-size: 3vw;
    }

    .detail-nav article a, .detail-nav article p, .detail-nav article form {
        font-size: 2vw;
    }

    .detail-producto-imgs {
        width: 40vw;
        height: 30vw;
    }

    .detail-producto-img {
        height: 15vw;
    }    

    .detail-producto {
        display: flex;
    }

    .detail-detalle-title {
        height: 7vw;
    }

    .detail-comprar-botons {
        height: 10vw;
    }

    .detail-comprar-boton {
        width: 25%;
    }
}

@media (min-width: 1024px) and (max-width: 2561px) {

    .detail-nav h2 {
        font-size: 2vw;
    }

    .detail-nav article a, .detail-nav article p, .detail-nav article form {
        font-size: 1vw;
    }

    .detail-producto-imgs {
        width: 30vw;
        height: 25vw;
    }

    .detail-producto-img {
        height: 12vw;
    }    

    .detail-producto {
        display: flex;
    }

    .detail-detalle-title {
        height: 4vw;
    }

    .detail-detalle {
        width: 100%;
    }

    .detail-comprar-botons {
        height: 5vw;
    }

    .detail-comprar-botons span {
        font-size: 1rem;
    }

    .detail-comprar-boton {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 85%;
    }

    .detail-comprar-boton form i {
        font-size: 0.8rem;
    }

    /* .detail-comprar-span{
        margin: 0px 20px
    } */

    #detail-price span {
        font-size: 1.6rem;
    }
} 


