.cart-title {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3px 0px 10px;
    height: 30px;
    font-size: 4vw;
    font-weight: 500;
    background: #FAC368;
    border-bottom:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-tarjets {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cart-tarjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 45vw;
    margin: 10px 0px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 7px 4px rgb(36 154 57 / 25%);
}

.cart-tarjet-img {
    display: flex;
}

.cart-tarjet-img img{
    width: 20vw;
    height: 20vw;
}

.cart-tarjet-title {
    display: flex;
}

.cart-tarjet-title p{
    font-size: 3vw;
    
}

.cart-tarjet-option {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
}

.cart-tarjet-option option, .cart-tarjet-option input{
    font-size: 3vw;
}

.cart-tarjet-option-2 {
    display: flex;
}

.cart-tarjet-option-2 p{
    font-size: 3vw;
}

.cart-tarjet-price {
    display: flex;
    color: var(--verde);
}

.cart-tarjet-price-total {
    display: flex;
}

.cart-tarjet-price-total p{
    font-size: 3vw;
    color: var(--verde);
}

.cart-botton-comprar {
    display: flex;
    width: 50vw;
    margin: 10px 0;
}

.cart-botton-comprar button {
    width: 100%;
}

.cart-ver-mas {
    background: var(--verde);
    border-radius: 35px;
    border: 2px solid var(--amarillo);
    outline: 2px solid var(--azul);
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.cart-ver-mas a p{
    font-size: 3vw;
}

.cart-ver-mas:hover {
    background: 
    linear-gradient(to right, var(--azul), var(--verde), var(--azul)) padding-box;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .cart-title {
        font-size: 3vw;
    }

    .cart-tarjets{
        flex-direction: column;
    }

    .cart-tarjet {
        flex-direction: row;
        align-items: center;
        width: 85vw;
        height: 12vw;
        margin: 10px 0px;
        justify-content: space-between;
    }

    .cart-tarjet-img img{
        width: 12vw;
        height: 12vw;
    }

    .cart-tarjet-title p{
        font-size: 2vw;
    }

    .cart-tarjet-option option, .cart-tarjet-option input{
        font-size: 2vw;
    }

    .cart-tarjet-option-2 p{
        font-size: 2vw;
    }
    
    .cart-tarjet-option-2 p{
        font-size: 2vw;
    }

    .cart-tarjet-price-total p{
        font-size: 2vw;
    }

    .cart-ver-mas a p{
        font-size: 2vw;
    }
}

@media (min-width: 1024px) and (max-width: 2561px) {
    .cart-title {
        font-size: 2vw;
    }

    .cart-tarjet {
        flex-direction: row;
        align-items: center;
        width: 85vw;
        height: 9vw;
        margin: 10px 0px;
        justify-content: space-between;
    }

    .cart-tarjet-img img{
        width: 9vw;
        height: 9vw;
    }

    .cart-tarjet-title p{
        font-size: 1.5vw;
    }

    .cart-tarjet-option option, .cart-tarjet-option input{
        font-size: 1.3vw;
    }

    .cart-tarjet-option-2 p{
        font-size: 1.5vw;
    }
    
    .cart-tarjet-option-2 p{
        font-size: 1.3vw;
    }

    .cart-tarjet-price-total p{
        font-size: 1.5vw;
    }

    .cart-ver-mas a p{
        font-size: 1.5vw;
    }
}