 .detail-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-nav h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0px 2vw;
    height: 30px;
    font-size: 3vw;
    font-weight: 500;
    background: #FAC368;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.detail-nav article {
    display: flex;
    width: 100vw;
    justify-content:space-evenly;
}

.detail-nav article a, .detail-nav article p, .detail-nav article form {
    background: var(--verde);
    border: 2px solid var(--amarillo);
    outline: 2px solid var(--azul);
    color: white;
    border-radius: 35px;
    padding: 10px;
    font-size: 3vw;
    margin: 2px;
    align-self: center;
}

.detail-nav article a:hover, .detail-nav article :hover, .detail-nav article form:hover {
    background-color: var(--amarillo);
    cursor: pointer;
}

.detail-nav article form button {
    color: var(--verde);
    background-color: var(--verde);
    border: var(--verde);  
}

.detail-nav article form i {
    background-color: var(--verde);
    color: var(--marron);
    
}

.detail-conjunto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
    
}

.detail-producto h2 {
    background-color: var(--amarillo);
    width: 97%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px 2px #fac368a1;
    margin-bottom: 10px;
    font-size: 4vw;
}

.detail-producto {
    box-shadow: inset 0px 0px 7px 5px #fac368c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.detail-producto div {
    display: flex;
    justify-content: left;

    height: 25vw;
    margin-bottom: 1vh;
    
}

.detail-producto img {
    height: 20vw;
}

.detail-detalle {
    display: flex;
    width: 90vw;
    height: 60vw;
    background-color: var(--azul);
    border: 2px solid var(--amarillo);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.detail-detalle form {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
}

.detail-detalle p {
    width: 95%;
    height: 40vw;
    overflow-y: scroll;
    color: var(--nieve);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3vw;
    margin: 5px;
    text-align: center;
}

.detail-detalle div {
    display: flex;
}

.detail-detalle h3 {
    font-size: 4vw;
    color: var(--violeta);
    background-color: var(--amarillo);
    border-radius: 35px;
}

.detail-detalle input {
    background: var(--amarillo);
    border: 2px solid var(--azul);
    outline: 2px solid var(--marron);
    color: black;
    border-radius: 35px;
    padding: 10px;
    font-size: 3vw;
    margin-bottom: 10px;
}

.detail-detalle input:hover {
    background-color: var(--violeta);
    color: white;
    cursor: pointer;
}

@media (min-width: 640px) and (max-width: 1023px) {

    .detail-nav h2 {
        font-size: 3vw;
    }

    .detail-nav article a, .detail-nav article p, .detail-nav article form {
        font-size: 2vw;
    }

    .detail-conjunto {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .detail-producto {
        margin-left: 2vw;
    }

    .detail-producto h2 {
        font-size: 3vw;
    }

    .detail-producto div {
        width: 55%;
    }

    .detail-detalle {
        height: 40vw;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-between;
    }

    .detail-detalle p {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        height: 40vw;
        font-size: 2vw;
    }

    .detail-detalle h3 {
        font-size: 3vw;
    }

    .detail-detalle input {
        font-size: 2vw;
    }

}

@media (min-width: 1024px) and (max-width: 2561px) {

    .detail-nav h2 {
        font-size: 2vw;
    }

    .detail-nav article a, .detail-nav article p, .detail-nav article form {
        font-size: 1vw;
    }

    .detail-conjunto {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .detail-producto {
        margin-left: 2vw;
    }

    .detail-producto h2 {
        font-size: 2vw;
    }

    .detail-producto div {
        width: 55%;
    }

    .detail-detalle {
        height: 38vw;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-between;
    }

    .detail-detalle p {
        height: 40vw;
        font-size: 1.5vw;
    }

    .detail-detalle h3 {
        font-size: 2.5vw;
    }

    .detail-detalle input {
        font-size: 2vw;
    }

} 


