.cart-title {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3px 0px 10px;
    height: 30px;
    font-size: 4vw;
    font-weight: 500;
    background: #FAC368;
    border-bottom:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-tarjets {
    display: flex;
    flex-direction: column;
    align-items: center;}

.cart-tarjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 45vw;
    margin: 10px 0px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 7px 4px rgb(36 154 57 / 25%);
}

.cart-tarjet-img {
    display: flex;
}

.cart-tarjet-img img{
    width: 20vw;
    height: 20vw;
}

.cart-tarjet-title {
    display: flex;
}

.cart-tarjet-option {
    display: flex;
}

.cart-tarjet-option2 {
    display: flex;
}

.cart-tarjet-price {
    display: flex;
}

.cart-tarjet-price-total {
    display: flex;
}

.cart-botton-comprar {
    display: flex;
}

.cart-ver-mas {
    background: var(--verde);
    border-radius: 35px;
    border: 2px solid var(--amarillo);
    outline: 2px solid var(--azul);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.cart-ver-mas a p{
    font-size: 3vw;
}

.cart-ver-mas:hover {
    background: 
    linear-gradient(to right, var(--azul), var(--verde), var(--azul)) padding-box;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .cart-title {
        font-size: 3vw;
    }

    .cart-ver-mas a p{
        font-size: 2vw;
    }
}

@media (min-width: 1024px) and (max-width: 2561px) {
    .cart-title {
        font-size: 2vw;
    }

    .cart-ver-mas a p{
        font-size: 1.5vw;
    }
}