<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {
        title : 'Terms'
    }) %>

<body class="home-body">

    <%- include('../partials/header') %>

    <main>
        <h2>TÉRMINOS Y CONDICIONES</h2> 
    </main>

    <%- include('../partials/footer') %>

</body>
</html>