<footer>
  <div class="footer-separador1"></div>
  <h4>¿Tenes dudas? Contactanos!</h4>

    <div class="home__footer__div1">
      <a href="">
        <i class="fa-solid fa-phone"></i>
      </a>
      <div>
        <span>0800-222-800</span>
      </div>
    </div>
    <div class="home__footer__div2">
      <a href="">
        <i class="fa-solid fa-envelope"></i>
      </a>
        <div>
          <span>tambienladramos@gmail.com</span>
        </div>
    </div>
    <div class="home__footer__div3">
      <a href="">
        <i class="fa-brands fa-instagram"></i>
      </a>
        <div>
          <span>#tambienLadramos</span>
        </div>
    </div>
      <div id="home__footer__heart">
        <span>Hecho con <i class="fa-solid fa-heart"></i> por tambienLadramos</span> 
        <span>All Rights Reserved - 2022</span>
      </div>
</footer>
