<footer>
  <h4>¿Tenes dudas? Contactanos!</h4>

    <div class="home__footer__div1">
      <a href="">
        <i class="fa-solid fa-phone fa-2x"></i>
      </a>
      <div>
        <span>0800-222-800</span>
      </div>
    </div>
    <div class="home__footer__div2">
      <a href="">
        <i class="fa-solid fa-envelope fa-2x"></i>
      </a>
        <div>
          <span>tambienladramos@gmail.com</span>
        </div>
    </div>
    <div class="home__footer__div3">
      <a href="">
        <i class="fa-brands fa-instagram fa-2x"></i>
      </a>
        <div>
          <span>#tambienLadramos</span>
        </div>
    </div>
  <p>All Rights Reserved - 2022</p>
</footer>
