<header>

    <nav class="home__header__ig">
        <div>
            <img src="/images/perro-informatico.png" alt="">
            <i class="fa-brands fa-instagram"></i>
            <span>#tambiénLadramos</span>
        </div>
        <div class="home__header__ig__number">
            <i class="fa-solid fa-phone fa-2x"></i>
            <span>0800-222-800</span>
        </div> 
    </nav>
    <nav class="home__header__contenedor">

        <div class="home__header__div__logo">
            <a href="/">
                <div class="home__header__logo">
                </div>
            </a>
        </div>

        <div id="home__header__div1">
            <div class="home__header__div__busqueda">
                <a id="question" href="/products/info"><i class="fa-solid fa-circle-question fa-2x"></i></a>       
                <div class="menu-btn">
                    <div class="menu-btn__burger">
                        <ul class="burger-list">
                            <li><a href="/products">Productos</a></li>
                            <li><a href="/services">Servicios</a></li>
                            <li><a href=""></a> Nosotros</li>
                            <li><a href=""></a> Contacto</li>
                        </ul>
                    </div>
                </div>         
                <!-- <a id="hamburger" href=""><i class="fa-solid fa-align-justify fa-2x"></i></a> -->
            </div>
        </div>

        <div id="home__header__div2">
            
            <div class="home__header__div__user">
                <% if (!locals.userLogin) { %>
                    <a id="user" href="/users/login"><i class="fa-solid fa-user fa-2x"></i></a>
                <% }else{ %>
                    <a id="user" href="/users/profile"><i class="fa-solid fa-user fa-2x"><span id="userName"><%= locals.userLogin.name %></span></i></a>
                    <a id="logout" href="/users/logout"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
                <% } %>
                
                <a id="cart" href="/products/productCart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
            </div>

            <div class="search__bar">
                <form action="/products/searchResult" method="GET">
                    <div>
                        <input type="text" class="search__bar__input" name="keyword" id="keyword" placeholder="Search..."/>
                        <button class="search__bar__submit" type="submit" name="keyword">
                            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                        </button>
                    </div>
                    
                </form>
                </div>
        </div>
    </nav>
    <script src="/stylesheets/hamburger-btn.js"></script>
</header>