/* .active{
    display: block;
    justify-content: left;
    align-items: center;
    margin: 2vw auto;
    box-shadow: 0px 0px 5px 3px rgb(36 124 154 / 25%); 
    width: 50%;
    height: 30vh;
} */

.home__-carousel {
    display: flex;
    margin: 0 auto;
    width: 100vw;
    margin: 2vw auto;
}

.home__-carousel:hover img{
    transition: all 2s;
    opacity: 1;
}

.hover:hover .img-fluid {
    display: flex;
    justify-content: center;
}

#carouselExampleDark p, #carouselExampleDark h5 {
    opacity: 0;
}