.searchResult h1 {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3px 0px 10px;
    height: 30px;
    font-size: 4vw;
    background: #FAC368;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchResult-mas-relevante {
    width: 80vw;
    position: relative;
    left: 10vw;
    display: flex;
    justify-content: center;
    background: var(--verde);
    border-radius: 35px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid var(--amarillo);
}

.searchResult-mas-relevante:hover {
    cursor: pointer;
    background:
    linear-gradient(to right, var(--azul), var(--verde), var(--azul)) padding-box;
}

.searchResult-mas-relevante i {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.searchResult-mas-relevante i p{
    margin-right: 5px;
    font-size: 3vw;
}

.searchResult-productos{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.searchResult-productos article{
    display: flex;
    height: 5vh;
    width: 40vw;
    margin: 2vw 2vw;
    box-shadow: 0px 0px 5px 3px rgb(36 124 154 / 25%);
    border-radius: 35px;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vw;
    flex-direction: column;
}

.product-cart-weight {
    position: relative;
    display: flex;
    justify-content: center;
}

.searchResult-weight {
    color: black;
    text-align: center;
    width: 15vw;
    display: flex;
    border: 0.2vw solid grey;
    border-radius: 100vh;
    background: var(--colores4);
    flex-direction: column;
}

.searchResult-productos article #title-product {
    display: none;
    overflow: hidden;
    height: 2vw;
    margin: none;
}

.searchResult-productos article:hover{
    background: 
    linear-gradient(to right, var(--nieve), white, var(--nieve)) padding-box;
}

.searchResult-productos article:hover #title-product {
    display: flex;
    font-size: medium;
}

.searchResult-productos form {
    background: var(--amarillo);
    box-shadow: 0px 0px 5px 3px rgb(36 124 154 / 25%);
    color: black;
    border-radius: 35px;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.searchResult-productos form:hover {
    cursor: pointer;
    background: var(--violeta);
    color: white;
}

.searchResult-productos form i {
    font-size: 2.5vw;
}

.searchResult-productos article a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.searchResult-productos article a div img {
    height: 22vw;
    width: 15vw
}

.searchResult-productos article a p {
    font-size: 3.5vw;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .searchResult h1 {
        font-size: 3vw;
    }

    .searchResult-mas-relevante {
        font-size: 3vw;
    }

    .searchResult-mas-relevante i p{
        font-size: 2vw;
    }

    .searchResult-productos {
        font-size: 3vw;
    }

    .searchResult-productos article{
        height: 43vw;
        width: 26%;
    }

    .searchResult-productos form i {
        font-size: 2vw;
    }

    .searchResult-productos article a {
        text-decoration: none;
        color: black;
    }

    .searchResult-productos article a p {
        font-size: 2vw;
    }

    .searchResult-productos article a div img {
        height: 18vw;
        width: 14vw;
    }

    .searchResult-weight {
        width: 9vw;
    }

}

@media (min-width: 1024px) and (max-width: 2561px) {
    .searchResult h1 {
        font-size: 2vw;
    }

    .searchResult-mas-relevante {
        font-size: 2vw;
    }

    .searchResult-mas-relevante i {
        font-size: 5vw;
    }

    .searchResult-productos {
        font-size: 2vw;
    }

    .searchResult-productos article{
        height: 34vh;
        width: 15vw;
        margin: 1vw 1vw;
    }

    .searchResult-productos form i {
        font-size: 1vw;
    }

    .searchResult-productos article a {
        text-decoration: none;
        color: black;
    }

    .searchResult-productos article a p {
        font-size: 1vw;
    }

    .searchResult-productos article a div img {
        height: 9vw;
        width: 7vw;
        background: none;
    }

    .searchResult-weight {
        width: 7vw;
    }
}