.footer__global {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.footer__brands-section {
    border-top: 1vw solid var(--amarillo);
    margin-top: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__brands-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border: 0.1vw dotted black;
}

.footer__brands-article div{
    margin: 2vw 5vw;
    width: 100%; 
    display: flex; 
    justify-content: space-around;
}

.footer__brands-article div img{
    background-color: white;
}

.footer-separador1 {
    margin-top: 5vw;
    height: 1vw;
    background-color: var(--amarillo);
}

.footer__global::after {
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-image: url(/images/Alimento-balanceado/Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.home__footer__div1 , .home__footer__div2 , .home__footer__div3{
    margin: 4vw 0 0;
}

#home__footer__heart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}
#home__footer__heart span i {
    color: red;
}

.home__footer__div1 span:hover, .home__footer__div2 span:hover, .home__footer__div3 span:hover {
    color: var(--nieve);
}

.home__footer__div1 a, .home__footer__div2 a, .home__footer__div3 a, .home__footer__div1 i, .home__footer__div2 i, .home__footer__div3 i {
    text-decoration: none;
    color: var(--nieve);
    background: var(--colores4);
}

.home__footer__div1 i:hover, .home__footer__div2 i:hover, .home__footer__div3 i:hover {
    color: var(--amarillo);
}

.home__footer__div1 span, .home__footer__div2 span, .home__footer__div3 span {
    font-size: 0.8rem;
    background: var(--colores4);
}


 @media (min-width: 600px) and (max-width: 1023px){
    .home__footer__div1 span, .home__footer__div2  span, .home__footer__div3 span,
    .home__footer__div1 i, .home__footer__div2 i, .home__footer__div3 i{
        font-size: 1.2rem;
    }


} 

@media (min-width: 1024px) and (max-width: 1439px){
    .home__footer__div1 span, .home__footer__div2  span, .home__footer__div3 span,
    .home__footer__div1 i, .home__footer__div2 i, .home__footer__div3 i{
        font-size: 1.3rem;
    }
}

    @media (min-width: 1440px) and (max-width: 2561px) {
        .home__footer__div1 span, .home__footer__div2  span, .home__footer__div3 span,
        .home__footer__div1 i, .home__footer__div2 i, .home__footer__div3 i{
            font-size: 1.4rem;
        }
    }    
 