
.home__header__ig {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
}

.home__header__ig span, .home__header__ig i {
    font-size: 1.2rem;
    color: var(--nieve);
    justify-content: center;
    text-align: center;
}

.home__header__ig div img {
    width: 12vw;  
}

.home__header__ig__number span, .home__header__ig__number i {
    display: none;
}

.home__header__contenedor {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    width: 100%;
    height: 35vh;
}
.home__header__div__logo-1024 {
    display: none;
}
.home__header__logo-1024 {
    display: none;
}
    .home__header__div__logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 25%;
    
} 

.home__header__logo {
    background: url(/images/Alimento-balanceado/Logo-removebg-preview.png); 
    background-position:center;
    background-repeat:no-repeat;
    background-size: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    position: relative;
    animation: rotacion 10s normal linear infinite; 
    cursor: pointer;
    width: 40%;
    height: 100%;
    overflow: hidden;
} 

.home__header__logo a {
    width: 50%;
    height: 100%;
}

.home__header__div1 {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.home__header__div2 {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.home__header__div3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: auto auto;
}

.home__header__div3 div {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.home__header__div3 button {
    position: absolute;
    top: 15%;
    right: 5%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    height: 0;
    border: none;
}
.home__header__div3 button i {
    font-size: 1.4rem;
    color: var(--azul);
    border: none;
}

#question i, #user i, #cart i, #hamburger , #logout i, .search__bar i, .fa-bars, .home__header__div3 button {
    font-size: 2rem;
    color: white;
}

#question i:hover, #user i:hover, #cart i:hover, #logout i:hover, .search__bar i:hover, .home__header__div3 button i:hover, .fa-bars:hover{
    font-size: 1.6rem;
    color: var(--amarillo);
}

.fa-bars {
    cursor: pointer;
    display: flex;
}



#logout {
    color: black;
    position: relative;
    justify-content: center;
    align-items: center;
    
}


@keyframes rotacion{
    0% {
        -webkit-transform: rotate3d(0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {-webkit-transform: rotate3d(0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
} 


@media (min-width: 767px) and (max-width: 1023px){
    .home__header__logo {
        width: 30%;
        height: 100%;
    }

    .home__header__contenedor i {
        font-size: 2.2rem;
    }
    .home__header__ig, .home__header__ig img {
        height: 12vw; 
    }

    .home__header__ig {
        justify-content: center;
        flex-direction: column;
    }

    .home__header__ig__number {
        display: flex;
        justify-content:flex-start;
    }

    .home__header__ig__number span, .home__header__ig__number i {
        display: flex;
        align-self: center;
    }

}

@media (min-width: 1024px) {
    header .home__header__ig   {
        height: 5vw;
    }
    
    .home__header__logo {
        /* width: 10vw;
        height: 20vw; */
        display: none;
    } 
    
    .home__header__div__logo {
        /* width: 5vw;
        height: 100%;
        position: absolute;
        display: flex;
        left: 48%;
        background-color: var(--verde);
        border-radius: 100vh;
        margin: auto 0; */
        display: none;
    }

    .home__header__div__logo-1024 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        margin: auto auto;
        width: 5vw;
        height: 5vw;
        z-index: 3;
    }
    .home__header__logo-1024 {
        background: url(/images/Alimento-balanceado/Logo-removebg-preview.png); 
        background-position:center;
        background-repeat:no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        position: relative;
        animation: rotacion 10s normal linear infinite; 
        cursor: pointer;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .home__header__logo-1024 a {
        width: 100%;
        height: 100%;
    }
    .home__header__contenedor {  
        flex-direction: row;
        height: 15vh; 
    }

    .home__header__ig, .home__header__ig img  {
        height: 5vw; 
    }

    .home__header__ig {
        align-content: space-between;
        justify-content: center;
        flex-direction: column;
    }

    .home__header__ig div {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .home__header__ig__number span, .home__header__ig__number i {
        display: flex;
        margin: 0.5vw;
    }

    .home__header__div2 {
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .home__header__div1 {
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

}
