.header__nav-ig {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--azul) ,var(--verde), var(--amarillo), var(--marron));
}

.header__nav-ig div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.header__ig-perro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#perro-informatico {
    width: 20vw;
    height: 10vh;
}
.header__nav-ig .header__div-logo {
    width: 15vw;
    height: 10vh;
    border: 1px solid black;
    border-radius: 100vh;
}

.header__nav-ig .header__div-logo .header__logo {
    width: 25vw;
    height: 25vh;
    margin: 0 auto;
    padding: 0 auto;
    background: url(/images/Alimento-balanceado/Logo.png); 
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    animation: rotacion 6s normal linear infinite; 
    cursor: pointer;
    border-radius: 100vh;

}


















#logout {
    color: black;
    position: relative;
    justify-content: center;
    align-items: center;   
}


.header__div__user {
    text-align: center;
}

.header__div__user #userName {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: black;
    background-color: var(--amarillo);
    font-size: 1.1rem;
}

@keyframes rotacion{
    0% {
        -webkit-transform: rotate3d(0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {-webkit-transform: rotate3d(0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
} 




